<section class="clearfix howWorksSection" style="margin-top:20px ">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="howWorksInner">
					<div class="row">
						<div class="col-sm-4 col-sm-push-8 col-xs-12">
							<div class="howWorksImage text-right"><%= image_tag "works-big-1.png", alt:"Image works" %>

               </div>
						</div>
						<div class="col-sm-8 col-sm-pull-4 col-xs-12">
							<div class="howWorksInfo text-left">
								<p>Step 1</p>
								<h3>Find what you want</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
							</div>
						</div>
					</div>
				</div>
				<div class="howWorksInner">
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="howWorksImage text-left"><%= image_tag "works-big-2.png", alt:"Image works" %></div>
						</div>
						<div class="col-sm-8 col-xs-12">
							<div class="howWorksInfo text-right">
								<p>Step 2</p>
								<h3>Review & Plan your day</h3>
								<p>Create different types event,search event and register for event in minutes. Music festivals, venues, marathons, conferences, hackathons, air guitar contests, political rallies, fundraisers, gaming competitions — you name it, we power it.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="howWorksInner">
					<div class="row">
						<div class="col-sm-4 col-sm-push-8 col-xs-12">
							<div class="howWorksImage text-right">	<%= image_tag "works-big-3.png", alt:"Image works" %></div>
						</div>
						<div class="col-sm-8 col-sm-pull-4 col-xs-12">
							<div class="howWorksInfo text-left">
								<p>Step 3</p>
								<h3>Explore Location</h3>
								<p>Event-helmer designed to facilitate all types of events throughout the country. Our wide range of events for educational programs, training sessions, planning or board meetings, conferences, concerts, and social events or parties. Our attention to detail of event and relationships with a wide variety of organizers throughout country.It will help ensure a smooth planning process for event.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
